---
layout: default
---

<div class="home">
   <h1 class="page-heading">Só os melhores.</h1>
   <p>Curadoria com podcasts em inglês que você jamais vai esquecer.</p>
   <br>
   <h3>Lista de episódios por Podcast</h3>
	   <a name="episodes"></a>
	  {% for podcast in site.data.podcasts.podcasts %}
		<h3><a href="{{ podcast.site }}" target="_blank">{{ podcast.name }}</a></h3>
		   <ul>
		     	{% for episode in site.data.episodes.favorites %}
					{% if podcast.id == episode.podcast_id %}
				         <li><a href="{{ episode.link }}" target="_blank">{{ episode.title }}</a></li>
			        {% endif %}
		        {% endfor %}
		   </ul>	  
	  {% endfor %}
	
	<h3>Lista de podcasts que ouço e recomendo</h3>
	<a name="podcasts"></a>
	{% for podcast in site.data.podcasts.podcasts %}
		<ul>
			<li><a href="{{ podcast.site }}" target="_blank">{{ podcast.name }}</a></li>
		</ul>
	{% endfor %}
</div>


